<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="basePath">target/logs</Property>
    </Properties>
    <!--    Appenders : where to show the logs. console, file, ... -->
    <Appenders>
        <!--        formatting fileName for dynamic name generation-->
        <RollingFile name="file"
                     filePattern="${basePath}/MarketTask-%d{HH-mm-ss-SSS}.log">
            <PatternLayout>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <!--            creates new file after the size exeeds-->
            <SizeBasedTriggeringPolicy size="500" />
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <!--    PatternLayout : what format logs will be displayed -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <!--    Loggers : logs the information. Logger is used to override Root level
    additivity="false" avoids duplicated messages that can come from parent levels.
    This should be used with Logger-->
    <Loggers>
        <!--        SPECIAL SETTING FOR tests.log4Jtests FOLDER-->
        <Logger name="day18" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="file"/>
        </Logger>
        <!--      Root : provides level to ALL classes on the project
        By default level = error prints errors and fatal
        level=trace will logs everything-->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>
